// global styles
a { cursor: pointer; }

.app-container {
    min-height: 350px;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
.user-nav{
    color: white;
    text-align: right;
    margin-left: 50%;
}
